<%- include("header") -%>

    <h1>This is the About Page of My TODO list project</h1>
    <p>This is a project of a TODO list made using EJS templates and other concepts like scoping</p>

<%- include("footer") -%> 